.fltright{float:right;clear:both}
.clear{clear:both}
.error{color:red}
body{
	background-color: #F4F5F5;
	color: #313334;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
a:link, a:visited{
	color: #6b7b95;
}
a:hover, a:active{
	color: #e79d35;
}
a.selected:link, a.selected:visited{
	color: #222;
}
em{
	font-style: normal;
	color: #686c70;
}
pre{
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	display: block;
	background: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 5px 7px;
	overflow: auto;
	font-size: 12px;
}
pre, code, tt{
	line-height: 1.5;
	font-family: 'andale mono', 'lucida console', monospace;
}
ul, ol{
	margin: 0 1.5em 1.5em 1.5em;
	padding: 0;
	font-size: 1.03em;
}
ul{
	list-style-type: square;
}

#wrapper{
	background-color: #F4F5F5;
	margin: 0px auto;
	padding-top: 36px;
	min-width: 850px;
	max-width: 1200px;
}

#menu{
	float: left;
	width: 15%;
	margin-right: 10px;
	font-size: 1.1em;
	padding-left: 10px;
}
#menu a, #toc a{
	display: block;
}
#menu p, #menu div{
	text-align: right;
}
#menu h4{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	font-size: 1.2em;
	margin: 10px 0;
	padding-bottom: 2px;
}

#doc{
	float: left;
	width: 61%;
	padding: 0 24px 0 25px;
	margin: 0 10px 3em 14px;
	border-left: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
}
#doc p{
	font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6{
	color: #313334;
	font-weight: bold;
	margin-bottom: .5em;
	margin-top: .5em;
}
#doc h1{
	margin: 0 0 15px 0;
	padding: 0 0 9px 0;
	font-size: 2.5em;
	color: #c17878;
	text-decoration: none;
}
#doc h2{
	color: #78ba91;
	text-decoration: none;
	font-size: 2em;
	margin-bottom: 0.75em;
}
#doc h1, #doc h2{
	border-bottom: 1px solid #ddd;
}
h1 a:link, h1 a:visited{
	color: #c17878;
	text-decoration: none;
}
h2 a:link, h2 a:visited{
	color: #78ba91;
	text-decoration: none;
}
#doc h3{
	font-size: 1.5em;
}
#doc h4{
	font-size: 1.2em;
}
#doc h5{
	font-size: 1em;
}

#doc #edit textarea{
	height: 300px;
	width: 100%;
}

#toc{
	float: left;
}
#toc h4{
	padding: 10px 0;
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
	height: 1.25em;
	line-height: 1.25;
	color: rgb(49, 51, 52);
}
#toc p, #toc div{
	padding: 0;
	margin: 0;
}

footer{
	clear: both;
	margin-top: 30px;
	text-align: right;
	color:#666;
	margin-bottom: 3em;
}